*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

    body {
        height: 100vh;
        width: 100%;
       
        }
        header{
   
            position:fixed;
            width:100%;
            top: 0%;
            left: 0%;
            padding: 16px ;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items:center;
            transition: 0.5s ;
         }
         .logo{
             color: #d62a5b   ;
             font-weight: bold;
             font-size: 2em;
             text-decoration: none;
         }
         .logo span{
             color:    #f07d7d  ;
         }
         
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(h.2.jpg) no-repeat center;
    background-size:cover;
    z-index: -1;
    filter: blur(50px);
}

.Adopt-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.left{
    height: 100%;
    background:url("h.2.jpg") no-repeat center ;
    background-size: cover;

}

.right{
    padding: 25px 40px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position:absolute ;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: #FFA07A;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(230,230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color:rgba(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid #FFA07A;
}

.area{
    min-height: 150px;
}

.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #FFA07A;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    transition: .3s;
}


.btn:hover{
    background-color: #FFE4B5;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background:rgba(0,0,0,0.1);
    background-image: none;
    flex: 1;
    padding: 0.5rem 1rem;
    color:  #5c6664;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: rgba(230,230, 230, 0.6);
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #FFA07A;
 }
input[type="file"]{
display: none;
}

label{
color: white;
cursor:pointer;
height: 20px;
width:150px;
background-color:#f7c97b;
position: none;
margin: auto;
top:0;
bottom: 0;
Left: 0;
right:0;
font-size:15px;
display: flex;

font-family:"Montserrat",sans-serif;
}
header .p1{

    font-family:"Montserrat",sans-serif;
    color:rgb(252, 56, 56);
    font-size:20px;
    font-weight:500;

}
header .p2{
    font-family:"Montserrat",sans-serif;
    color:rgb(34, 253, 125);
    font-size:20px;
    font-weight:500;

}
@media screen and(max-width:880px){
    .Adopt-box{
        grid-template-columns: 1fr;
    }

        .left{
            height: 200px;
        }
}
    
    